.gridApp {
  padding-left: 1%;
  padding-top: 1%;
  padding-right: 1%;
}

.gMap {
  padding-left: 10%;
  padding-top: 3%;
}

/* .gridUp {
  position: relative;
  margin-block-start: auto;
  margin-top: -16%;
}

.gridUp1 {
  margin-top: -6%;
  margin-left: -50%;
} */
/* 
gridUpDate {
  margin-top: 4%;
} */
